.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  
}

.n-left {
  flex: 1;
  align-items: center;
color: rgb(36, 45, 73);;
  display: flex;
  gap: 2rem;
}

.n-name {
margin-top: 30px;

}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.n-list {
  flex: 10;

}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin: 4rem;
  cursor: pointer;
  color:rgb(36, 45, 73);
}
.n-list > ul >a> li:hover {
  cursor: pointer;
  color: var(--orange);
}
.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-name {
    margin-top: 50px;
    margin-left: -55px;
    
    }
}